/* SPDX-License-Identifier: Apache-2.0 */
body {
    background: rgb(221, 249, 249);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    margin: 0;
}

footer {
    text-align: center;
}

.bvfront-cert-list {
    list-style-type: none;
    padding: 0;
}

.bvfront-cert-list > li {
    border: 2px solid #006a6a;
    background: #baffff;
    margin-bottom: 1rem;
    padding: 0.333rem;
}
