/* SPDX-License-Identifier: Apache-2.0 */
body {
    background: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#bvfront-product-name {
    margin: 0;
    font-size: 1.75em;
    font-weight: bold;
}

#bvfront-product-name > a {
    color: inherit;
    text-decoration: inherit;
}

h1 {
    margin: 0;
    margin-bottom: 0.33em;
    font-size: 3em;
    line-height: 1;
}

.bvfront-page-content {
    max-width: 50rem;
}

.bvfront-search-time {
    margin-top: 1em;
    font-size: 0.9em;
}

footer {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1.2em;
    font-size: 0.9em;
}

a {
    color: #000092;
}

.bvfront-form input[name=domain] {
    font-family: monospace;
}

.bvfront-domains a {
    text-decoration: none;
}

a:visited {
    color: #470060;
}

main {
    margin-left: 1em;
    margin-right: 1em;
    background: inherit;
}

.bvfront-domain {
    /* don't have line break in middle of domain */
    white-space: nowrap;
}

.bvfront-cert-list {
    border-spacing: 0;
    margin-top: 1em;
    background: inherit;
    margin: 0;
    margin-top: 0.5em;
    border-collapse: collapse;
}

.bvfront-cert-list > thead {
    position: sticky;
    top: -1px;
    background: inherit;
}

.bvfront-cert-list tr {
    border-bottom: 1px solid #bbb;
    vertical-align: top;
    height: 100%;
}

.bvfront-cert-list td {
    padding: 0;
    height: 100%;
}

.bvfront-cert-list td:first-child {
    display: block;
    width: max-content;
}

.bvfront-cert-list .bvfront-domains {
    text-align: right;
    display: inline-block;
}

.bvfront-table-link {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
    padding: 0.25em;
    text-align: left;
    padding-right: 1.5em;
}

.bvfront-table-link:visited {
    color: inherit;
}

.bvfront-error {
    white-space: pre;
    font-family: monospace;
    background: #ffc3c3;
    border: 2px solid red;
    padding: 1em;
    width: max-content;
}

.bvfront-error > h2 {
    margin-bottom: 0.5em;
}

main > .bvcert-kv-table {
    border: none;
}

main > .bvcert-kv-table > tbody > tr > th {
    background: none;
}

main > .bvcert-kv-table > tbody > tr > th, main > .bvcert-kv-table > tbody > tr > td {
    border-bottom: 1px solid #bbb;
    padding-top: .5em;
    padding-bottom: .5em;
}

.bvfront-cert-list-no-results {
    width: 11em;
    background: rgb(199, 199, 199);
    height: 11em;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;
}

.bvfront-cert-frown-text {
    height: 35%;
}

.bvfront-frown {
    font-size: 4.5em;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 65%;
}

.bvfront-dl {
    margin-top: 1em;
    margin-bottom: 1em;
    vertical-align: middle;
}

.bvfront-dl > a {
    text-decoration: none;
}

.bvfront-dl > a:before {
    /* from material icons, licensed as Apache 2.0 */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZD0iTTExIDQwcS0xLjIgMC0yLjEtLjlROCAzOC4yIDggMzd2LTcuMTVoM1YzN2gyNnYtNy4xNWgzVjM3cTAgMS4yLS45IDIuMS0uOS45LTIuMS45Wm0xMy03LjY1LTkuNjUtOS42NSAyLjE1LTIuMTUgNiA2VjhoM3YxOC41NWw2LTYgMi4xNSAyLjE1WiIvPjwvc3ZnPg==);
    content: "";
    display: inline-block;
    background-size: 1em 1em;
    width: 1em;
    height: 1em;
}

@media (max-width: 1300px) {
    .bvfront-cert-list > tbody > tr {
        display: grid;
        grid-template-areas:
            "ts notbefore notafter"
            "domains domains domains";
    }
    .bvfront-header-domains {
        display: none;
    }
    .bvfront-cert-list > thead > tr {
        display: flex;
    }
    .bvfront-cert-list > thead > tr > th {
        width: 33.33%;
        text-align: left;
    }

    .bvfront-col-ts {
        grid-area: ts;
    }
    .bvfront-col-notbefore {
        grid-area: notbefore;
    }
    .bvfront-col-notafter {
        grid-area: notafter;
    }
    .bvfront-col-domains {
        grid-area: domains;
    }
}
